/* Hero/jumobtron section*/

.jumbotron {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

.pictureofme {
    margin-top: 1.5em;
    display: block;
}

/* About me section*/


.about-me {
    text-align: center;
}

/* Myskillset section*/


.myskillset-icon {
    width: 25vw;
    height: 10vh;
}

.my-skillsets {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.my-skillsets ul {
    list-style: none;
}

.coding-skills ul,
.designer-skills ul,
.technical-support-skills ul {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    text-align: center;
}

/* My Personal projects section*/

.projects-icon {
    width: 25vw;
    height: 10vh;
}

.personal-projects {
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.card-footer {
    text-align: center;
}