/* Hero/jumobtron section*/

.jumbotron {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

.pictureofme {
    margin-top: 1.5em;
    display: block;
}

/* About me section*/


.about-me {
    text-align: center;
    border-bottom: 1px solid #343434;
    margin-bottom: 2rem;
}

/* Myskillset section*/


.myskillset-icon {
    width: 25vw;
}

.my-skillsets {
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #343434;
    margin-bottom: 2rem;
}

.my-skillsets ul {
    list-style: none;
}

.coding-skills ul,
.designer-skills ul,
.technical-support-skills ul {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    text-align: center;
}

/* My Personal projects section*/

.projects-icon {
    /* width: 50vw; */
    /* height: 12vh; */
}

.personal-projects {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #343434;
    /* margin-bottom: 1rem; */
}

.card-footer {
    text-align: center;
}

/*  CUSTOM CSS STYLING */

body {
    background-color: #343434!important;
}

    /*navbar*/
.navbarCustom {
    align-items: center;
}

.nav-item a:hover {
    color: #ffe66d;
    text-decoration: none;
}

.nav-link-color {
    color:#f7fff7;
}

    /*about me*/

.about-me {
    background-color: #343434;
    color: #f7fff7;
}

    /*hero*/

#herocustom {
    background-color: #ffe66d;
}

#contact-btn {
    background-color: #343434;
    border-color: #343434;
    color: #f7fff7;
}

    /*My Skillsets*/

.my-skillsets {
    background-color: #ffe66d;
    padding-top: 1.5rem;
}

.skillset-header {
    color:#343434;
}

.personal-projects h2, h4 {
    color: #f7fff7;
}

.contact-form, .blackjack-game, .weight-converter, .rdx-landing-page {
    border: 1px solid #f7fff7;
    padding: 1rem 0 1rem 0;
    margin: 1rem 0 1rem 0;
}

#footer-bg {
    background-color: #ffe66d;
}